/* Alignment */
.column {
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
}

/* Theme */
@media (prefers-color-scheme: dark) {
:root {
  --text-color: #fff;
  --bg-color: #0d1117;
  --btn-color: #161b22;
}
}

body {
  color: orange;
  background-color: var(--bg-color, #fff);
  min-height: 40em;
}

input, textarea {
  color: var(--text-color, #000);
}

button:hover, button:focus, button:active {
  background-color: var(--btn-color, #ddd);
}

/* Basic */
button, input, textarea {
  background-color: transparent;
  border-width: 0.2em;
  border-color: orange;
  border-radius: 0.8em;
}

h2, h3, button {
  color: orange;
}

button, input {
  text-align: center;
}

button img {
  width: 90%;
  height: 90%;
}

/* Divs size */
#passwordDiv {
  width: 95%;
  height: 6%;
}

#passwordDiv div {
  height: 100%;
  width: 12%;
  margin: 1%;
}

#passwordDiv input {
  width: 85%;
  height: 100%;
}

#passwordDiv button {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.texts {
  width: 95%;
  height: 25%;
}

.texts textarea {
  width: 85%;
}

.texts div {
  width: 12%;
  height: 100%;
  margin: 1%;
}

.texts button {
  width: 100%;
  height: 30%;
  margin-bottom: 5px;
}

/* Specific */
#eyeOff, /*#fileDiv, */#fileInput, #addShareText {
  display: none;
}

#typeDiv {
  height: 7%;
}

#typeDiv button {
  width: 45%;
  height: 100%;
}

#encrypt {
  width: 70%;
  height: 7%;
}