@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #0d1117;
    --btn-active-color: #161b22;
  }
}

body {
  color: orange;
  background-color: var(--bg-color, #fff);
}

body,
button,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  width: 80%;
  color: var(--text-color, #000);
  caret-color: orange;
}

button,
input {
  height: 35px;
}

button {
  margin: 3px;
  color: var(--text-color, #000);
}

button img {
  vertical-align: middle;
}

button:hover,
button:focus,
button:active {
  background-color: var(--btn-active-color, #ddd);
}

button,
input,
textarea {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid orange;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.w45 {
  width: 45%;
}
